/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}



.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.kenburns-bottom-left {
	-webkit-animation: kenburns-bottom-left 5s ease-out infinite alternate-reverse backwards;
	        animation: kenburns-bottom-left 5s ease-out infinite alternate-reverse backwards;
    background-image: url("https://www.zdnet.com/a/img/resize/816da22fbfe279a4f19cadd7fff83a7f6023c725/2021/09/02/f9723f89-2e71-4a46-a59f-f6838771f2ed/python-code-magnifying-glass-programming-language.jpg?auto=webp&width=1280");
    background-repeat: no-repeat; 
    background-size: 100%;   
    background-color: rgba(0, 0, 0, 0.4);

}

@-webkit-keyframes kenburns-bottom-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 84%;
            transform-origin: 16% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
            transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
  }
}
@keyframes kenburns-bottom-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 84%;
            transform-origin: 16% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
            transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left bottom;
            transform-origin: left bottom;
  }
}



header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 40px 0;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

.project {
    margin-bottom: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
